@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 288px;
  padding: 16px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.qr-img img {
  width: 100%;
  border-radius: 20px;
}

.qr-caption {
  text-align: center;
  padding-bottom: 24px;
}

.qr-title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 120%;
  letter-spacing: 0px;
  padding: 16px 0;
}

.qr-desc {
  letter-spacing: 0.2px;
}
